
body {
    background: radial-gradient(circle at center,#CCDAE0,#EDF2F4 );
  }

header{
    text-align: center;
    align-items: center;
    justify-content: center;
        }

h1{
    color:#EF233C ;
    font-size: 200%;
    font-weight: bold;
    font-family: impact;
}
h3{
    color:#2B2D42 ;
    font-size: 150%;
    font-weight: bold;
    text-decoration: underline dotted;
}

article{
    border:black solid 1px;
}


footer{
    text-align: right;
}

ul{
    list-style-type: none;
}

img{
    justify-content: center;
    border-color: #8D99AE;
    border:solid;
    border-width: 2px;
}


.etoile{
    color:red
}

fieldset{
    text-align: left;
}

a:visited{
    color: grey;

}

a:hover{
    color:#D90429
}

a:active{
    color: #2B2D42;
}

body {
    background: radial-gradient(circle at center,#CCDAE0,#EDF2F4 );
  }

  p{
    text-align: center;
  }